.switch-box {
  z-index: 9999;
}

.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1.5px solid #7517cd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theme-dark .switch-box .slider {
  border: 1.5px solid #fabc09;
  background-color: #1d1d1d;
}

.switch-box .slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 8px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
  box-shadow: 0 0px 15px #2020203d;
  background: url("../images/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box .slider.round {
  border-radius: 34px;
}

.switch-box .slider.round::before {
  border-radius: 50%;
}

.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-box input:checked + .slider {
  background-color: #7517cd;
}

.switch-box input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
  box-shadow: 0 0 1px #2196f3;
}

.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  background: url("../images/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

.theme-dark body {
  color: #ffffff;
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
  color: #ffffff;
}

.theme-dark h3 {
  color: #ffffff;
}

.theme-dark h3 a {
  color: #ffffff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.theme-dark p {
  color: #ffffff;
}

.theme-dark body {
  background: #1d1d1d;
}

.theme-dark .section-title h2 {
  color: #ffffff;
}

.theme-dark .section-title p {
  color: #ffffff;
}

.theme-dark .top-header-bg {
  background-color: #1d1d1d;
}

.theme-dark .top-right .language-list .nice-select .list {
  background-color: #252525;
  color: #ffffff;
}

.theme-dark .top-right .language-list .nice-select .list .option {
  color: #ffffff;
}

.theme-dark .top-right .language-list .nice-select .option:hover {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark .top-right .language-list .nice-select .option.focus {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark .top-right .language-list .nice-select .option.selected.focus {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark .main-nav {
  background-color: #252525;
}

.theme-dark .main-nav .navbar .navbar-brand .logo-one {
  display: none;
}

.theme-dark .main-nav .navbar .navbar-brand .logo-two {
  display: inline-block;
}

.theme-dark .main-nav nav .navbar-nav .nav-item a {
  color: #ffffff;
}

.theme-dark .main-nav nav .navbar-nav .nav-item a i {
  color: #ffffff;
}

.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu {
  background-color: #252525 !important;
}

.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  color: #ffffff !important;
}

.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #fabc09 !important;
}

.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #fabc09 !important;
}

.theme-dark .mobile-nav .logo .logo-two {
  display: inline-block;
}

.theme-dark .mobile-nav .logo .logo-one {
  display: none;
}

.theme-dark .mean-container .mean-bar {
  background-color: #252525;
}

.theme-dark .mean-container .navbar-nav {
  background-color: #1d1d1d;
}

.theme-dark .mean-container .mean-nav ul li a {
  color: #ffffff;
}

.theme-dark .mean-container .mean-nav ul li .dropdown-menu {
  background-color: #1d1d1d;
}

.theme-dark .nav-bar-side .language-nav-list .language-list-item {
  color: #ffffff;
}

.theme-dark .nav-bar-side .language-nav-list .nice-select:after {
  border-color: #ffffff;
}

.theme-dark .nav-bar-side .language-nav-list .nice-select .list {
  background-color: #252525;
  color: #ffffff;
}

.theme-dark .nav-bar-side .language-nav-list .nice-select .list .option {
  color: #ffffff;
}

.theme-dark .nav-bar-side .language-nav-list .nice-select .option:hover {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark .nav-bar-side .language-nav-list .nice-select .option.focus {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark
  .nav-bar-side
  .language-nav-list
  .nice-select
  .option.selected.focus {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark .nav-bar-side .shoping-nav-btn-2 {
  color: #ffffff;
}

.theme-dark .nav-bar-side .shoping-nav-btn-2:hover {
  color: #7517cd;
}

.theme-dark .banner-area {
  background-color: #1d1d1d;
}

.theme-dark .banner-img .banner-img-shape .banner-bg-shape1 {
  display: none;
}

.theme-dark .banner-img .banner-img-shape .banner-bg-shape2 {
  display: inline-block;
}

.theme-dark .banner-slider-area {
  background-color: #181818;
}

.theme-dark .banner-area-two .shape-circle img {
  opacity: 0.5;
}

.theme-dark .inner-banner {
  background-color: #181818;
}

.theme-dark .inner-banner ul li {
  color: #ffffff;
}

.theme-dark .inner-banner ul li a {
  color: #ffffff;
}

.theme-dark .work-area {
  background-color: #252525;
}

.theme-dark .about-content ul li {
  color: #ffffff;
}

.theme-dark .about-area-two::before {
  background-color: #252525;
}

.theme-dark .about-content-two .about-counter span {
  color: #ffffff;
}

.theme-dark .choose-item {
  background-color: #252525;
}

.theme-dark .services-area {
  background-color: #252525;
}

.theme-dark .services-scroll-area {
  background-color: #1d1d1d;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.theme-dark .services-scroll-area-into {
  background-color: #1d1d1d;
}

.theme-dark .services-card {
  background-color: #252525;
}

.theme-dark .services-card:hover h3 a {
  color: #1d1d1d !important;
}

.theme-dark .services-item {
  background-color: #252525;
}

.theme-dark .services-item .read-more {
  color: #ffffff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.theme-dark .services-item .read-more:hover {
  color: #7517cd;
}

.theme-dark .services-item-two {
  background-color: #252525;
}

.theme-dark .services-item-two:hover h3 a {
  color: #fabc09;
}

.theme-dark .services-item-two .read-more {
  color: #ffffff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.theme-dark .services-item-two .read-more:hover {
  color: #fabc09;
}

.theme-dark .services-details-title {
  background-color: #252525;
}

.theme-dark .services-details-title .title {
  color: #ffffff;
}

.theme-dark .services-details-title .social-icon li {
  color: #ffffff;
}

.theme-dark .testimonial-area-two {
  background-color: #252525;
}

.theme-dark .testimonial-slider-item {
  background-color: #1d1d1d;
}

.theme-dark .testimonial-area-three::before {
  background-color: #252525;
}

.theme-dark .testimonial-area-bg {
  background-color: #252525;
}

.theme-dark .brand-area {
  background-color: #252525;
}

.theme-dark .brand-item .brand-logo-two {
  display: inline-block !important;
}

.theme-dark .brand-item .brand-logo-one {
  display: none !important;
}

.theme-dark .choose-area {
  background-color: #252525;
}

.theme-dark .choose-card {
  background-color: #1d1d1d;
}

.theme-dark .counter-area {
  background-color: #1d1d1d;
  border-bottom: 1px solid #3b3b3b;
}

.theme-dark .choose-area-four {
  background-color: #252525;
}

.theme-dark .product-card .product-card-img {
  background-color: #252525;
}

.theme-dark .product-card .content h3 a {
  color: #ffffff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.theme-dark .product-card .content h3 a:hover {
  color: #7517cd;
}

.theme-dark .blog-card .content ul li {
  color: #ffffff;
}

.theme-dark .blog-card .content ul li i {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.theme-dark .blog-card .content ul li a {
  color: #ffffff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.theme-dark .blog-card .content ul li:hover i {
  color: #ffffff;
}

.theme-dark .blog-card .content ul li:hover a {
  color: #7517cd;
}

.theme-dark .blog-card .content h3 a {
  color: #ffffff;
}

.theme-dark .blog-card .content h3 a:hover {
  color: #fabc09;
}

.theme-dark .blog-card .content .read-more {
  color: #ffffff;
}

.theme-dark .blog-card .content .read-more:hover {
  color: #fabc09;
}

.theme-dark .blog-article .blog-article-title ul li {
  color: #ffffff;
}

.theme-dark .blog-article .blog-article-title ul li a {
  color: #ffffff;
}

.theme-dark .blog-article .blog-article-title ul li:hover i {
  color: #ff9083;
}

.theme-dark .blog-article .blog-article-title ul li:hover a {
  color: #7517cd;
}

.theme-dark .blog-article .article-content .blockquote {
  background-color: #252525;
}

.theme-dark .blog-article .article-content .blockquote p,
.theme-dark .blog-article .article-content h6 {
  color: #ffffff;
}

.theme-dark .blog-article .comments-form .title {
  color: #ffffff;
}

.theme-dark .team-item .content {
  background-color: #252525;
}

.theme-dark .team-item .content h3 a {
  color: #ffffff;
}

.theme-dark .team-item .content span {
  color: #ffffff;
}

.theme-dark .team-item .content .social-icon-link li a {
  color: #ffffff;
  border-color: #ffffff;
}

.theme-dark .team-item .content .social-icon-link li a:hover {
  color: #7517cd;
}

.theme-dark .search-widget {
  background-color: #252525;
}

.theme-dark .search-widget .search-form {
  background-color: #252525;
}

.theme-dark .search-widget .search-form .form-control {
  background-color: #252525;
  color: #ffffff;
}

.theme-dark .search-widget .search-form button i {
  color: #ffffff;
}

.theme-dark .product-side-bar-widget {
  background-color: transparent;
}

.theme-dark .product-side-bar-widget .title {
  color: #ffffff;
}

.theme-dark .product-side-bar-widget .price-range-filter-item h4 {
  color: #ffffff;
}

.theme-dark .product-detls-image {
  background-color: #252525;
}

.theme-dark .product-desc .product-share ul li {
  color: #ffffff;
}

.theme-dark .products-tabs-reviews .tabs-reviews-comments-form .title {
  color: #ffffff;
}

.theme-dark .products-tabs-reviews .tabs-reviews .tabs-reviews-form li {
  background-color: #252525;
}

.theme-dark
  .products-tabs-reviews
  .tabs-reviews
  .tabs-reviews-form
  li
  .content
  h4 {
  color: #ffffff;
}

.theme-dark .cart-wraps-area .cart-wraps {
  background-color: #252525;
}

.theme-dark .cart-wraps-area .cart-table table thead tr th {
  color: #ffffff;
}

.theme-dark .cart-wraps-area .cart-table table tbody tr td.product-name a {
  color: #ffffff;
}

.theme-dark
  .cart-wraps-area
  .cart-table
  table
  tbody
  tr
  td.product-thumbnail
  a
  img {
  background-color: #1d1d1d;
}

.theme-dark
  .cart-wraps-area
  .cart-table
  table
  tbody
  tr
  td.product-quantity
  .input-counter
  input {
  color: #ffffff;
  background-color: #1d1d1d;
}

.theme-dark
  .cart-wraps-area
  .cart-table
  table
  tbody
  tr
  td.product-subtotal
  .remove {
  color: #ffffff;
}

.theme-dark .cart-wraps-area .cart-calc {
  background-color: #252525;
}

.theme-dark .cart-wraps-area .cart-calc .cart-wraps-form h3 {
  color: #ffffff;
}

.theme-dark
  .cart-wraps-area
  .cart-calc
  .cart-wraps-form
  .form-group
  .form-control {
  background-color: #1d1d1d;
  color: #ffffff;
}

.theme-dark
  .cart-wraps-area
  .cart-calc
  .cart-wraps-form
  .form-group
  .nice-select {
  background-color: #1d1d1d;
  color: #ffffff;
}

.theme-dark .cart-wraps-area .cart-calc .cart-wraps-form .form-group .list {
  background-color: #252525;
  color: #ffffff;
}

.theme-dark
  .cart-wraps-area
  .cart-calc
  .cart-wraps-form
  .form-group
  .list
  .option {
  color: #ffffff;
}

.theme-dark
  .cart-wraps-area
  .cart-calc
  .cart-wraps-form
  .form-group
  .option:hover {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark
  .cart-wraps-area
  .cart-calc
  .cart-wraps-form
  .form-group
  .option.focus {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark
  .cart-wraps-area
  .cart-calc
  .cart-wraps-form
  .form-group
  .option.selected.focus {
  color: #ffffff;
  background-color: #7517cd;
}

.theme-dark .cart-wraps-area .cart-totals {
  background-color: #252525;
}

.theme-dark .cart-wraps-area .cart-totals ul li {
  color: #ffffff;
}

.theme-dark .checkout-method p [type="radio"]:checked + label {
  color: #ffffff;
}

.theme-dark .checkout-method p [type="radio"]:not(:checked) {
  display: none;
}

.theme-dark .checkout-method p [type="radio"]:not(:checked) + label {
  color: #ff9083;
}

.theme-dark .checkout-method p [type="radio"]:not(:checked) + label::after {
  color: #ff9083;
}

.theme-dark .payment-box .content img {
  background-color: #252525;
}

.theme-dark .payment-box .total-amount .amount-title {
  color: #ffffff;
}

.theme-dark .payment-box .total-amount .vat-title {
  color: #ffffff;
}

.theme-dark .payment-box .total-amount .total-title {
  color: #ffffff;
}

.theme-dark .side-bar-profile {
  background-color: #252525;
}

.theme-dark .side-bar-widget .title {
  color: #ffffff;
}

.theme-dark .side-bar-widget .widget-popular-post .item .info .title-text a {
  color: #ffffff;
}

.theme-dark .contact-form .form-group label {
  color: #ffffff;
}

.theme-dark .contact-form .form-group .form-control {
  background-color: #252525;
  color: #ffffff;
}

.theme-dark .contact-form .form-group.checkbox-option p {
  color: #ffffff;
}

.theme-dark .contact-form .agree-label label {
  color: #ffffff;
}

.theme-dark .contact-form .agree-label label a:hover {
  color: #ff9083;
}

.theme-dark .contact-address {
  background-color: #252525;
}

.theme-dark .faq-accordion {
  background-color: #252525;
}

.theme-dark .faq-accordion .accordion {
  background-color: #252525;
}

.theme-dark .faq-accordion .accordion .accordion-title {
  color: #ffffff;
}

.theme-dark .faq-accordion .accordion .accordion-title i {
  color: #ffffff;
  border-color: #ffffff;
}

.theme-dark .footer-widget .footer-logo .footer-logo1 {
  display: none;
}

.theme-dark .footer-widget .footer-logo .footer-logo2 {
  display: inline-block;
}

.theme-dark .footer-widget .footer-list li a {
  color: #ffffff;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.theme-dark .footer-widget .footer-list li a:hover {
  color: #fabc09;
}

.theme-dark .footer-bg {
  background-color: #222222;
}

.theme-dark .copy-right-border {
  border-top: 1px solid #474747;
}

.theme-dark .copy-right-bg {
  background-color: #252525;
}

.theme-dark .error-area .error-content h1 {
  color: #ffffff;
}

.theme-dark .error-area .error-content h3 {
  color: #ffffff;
}

.theme-dark .error-area .error-content p {
  color: #ffffff;
}

.theme-dark .coming-soon-area {
  background-color: #1d1d1d;
}

.theme-dark .coming-soon-area .coming-soon-content {
  background-color: #252525;
}

.theme-dark .coming-soon-area .coming-soon-content h1 {
  color: #ffffff;
}

.theme-dark .coming-soon-area .coming-soon-content p {
  color: #ffffff;
}

.theme-dark .coming-soon-area .coming-soon-content #timer div {
  background-color: #1d1d1d;
  color: #ffffff;
}

.theme-dark .coming-soon-area .coming-soon-content #timer div span {
  color: #ffffff;
}

.theme-dark
  .coming-soon-area
  .coming-soon-content
  .newsletter-form
  .input-newsletter {
  background-color: #1d1d1d;
  color: #ffffff;
}

/* ======================================================================= */

.theme-dark .mean-container a.meanmenu-reveal span {
  background: #fabc09;
}

.theme-dark .mean-container a.meanmenu-reveal {
  color: #fabc09;
}

.theme-dark .opening-section .accordion-item {
  background: #1d1d1d;
}

/*  Default Btn  */

.theme-dark .default-btn::before,
.theme-dark .go-top,
.theme-dark .about-content ul li::before {
  background-color: #fabc09;
}

.theme-dark .default-btn-two,
.theme-dark .newsletter-area .newsletter-form .subscribe-btn {
  border: 1px solid #fabc09;
  background-color: #fabc09;
  color: #332727;
}

.theme-dark .default-btn-two:hover,
.theme-dark .newsletter-area .newsletter-form .subscribe-btn:hover {
  border: 1px solid #fabc09;
  background-color: unset;
  color: #f1f1f1;
}

.theme-dark .go-top {
  color: #332727;
}

.theme-dark .main-nav nav .navbar-nav .nav-item a.active,
.theme-dark .main-nav nav .navbar-nav .nav-item a:hover,
.theme-dark .main-nav nav .navbar-nav .nav-item a :focus,
.theme-dark .main-nav nav .navbar-nav .nav-item:hover a {
  color: #fabc09 !important;
}

.theme-dark .default-btn::after {
  border: 1px solid #c033f0;
}

.theme-dark .default-btn:hover,
.theme-dark .work-card .number,
.theme-dark .copy-right-text p a:hover {
  color: #ffffff;
}

.theme-dark .work-card .number {
  border: 2px solid #fabc09;
}

.theme-dark .default-btn:hover::before {
  background-color: #c033f0;
}

.theme-dark .sp-color1,
.theme-dark .sp-color2,
.theme-dark .banner-content span,
.theme-dark .about-img .tag,
.theme-dark .copy-right-text p a {
  color: #fabc09;
}

.theme-dark .blog-card .content ul li i,
.theme-dark .blog-card .content ul li a:hover {
  color: #fabc09;
}

.theme-dark .testimonial-item .testimonial-avatar h3,
.theme-dark .testimonial-item i {
  color: #fabc09;
}

.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu:before {
  border-top: 2px solid #fabc09;
  border-bottom: 2px solid #fabc09;
}

/*=================================
Solution Area
====================================*/

.theme-dark .sol-cards {
  background: #2a2a2a;
  border: 1px dashed #a6a6a6;
  border-top: 3px solid #fabc09;
}

.theme-dark .sol-cards:hover {
  border: 1px solid #fabc09;
  border-top: 3px solid #fabc09;
}

.theme-dark .sol-cards .icons {
  background: #fff;
  border: 2px dashed #fabc09;
  color: #7517cd;
}

.theme-dark .sol-cards h3 a {
  color: #f1f1f1;
}

.theme-dark .sol-cards:hover h3 a {
  color: #fabc09;
}

.theme-dark .sol-cards .read-more {
  color: #fabc09;
}

/*=================================
Solution Area End
====================================*/

/*=================================
Industry Area Start
====================================*/

.theme-dark .industry-area .nav-pills .nav-link.active,
.theme-dark .industry-area .accordion-button:not(.collapsed) {
  color: #252525;
  background: #fabc09;
}

.theme-dark .industry-area .nav-pills .nav-link,
.theme-dark .industry-area .accordion-button {
  color: #fff;
  background: #252525;
  border: 1px solid #fabc09;
}

/*=================================
Industry Area End
====================================*/

/*# sourceMappingURL=theme-dark.css.map */
